


/*********
Layout
**********/

.container {
    color: var(--White);
    background-color: var(--Dark-Blue);
    border-radius: 10px;
    width: 15rem;
    padding: 1rem;
}

/*******************
Interactive Ratings
********************/

/*Star-icon*/
.star-img-bx {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Light-Grey);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    opacity: .2;
}

.star-icon {
    position: relative;
    top: -25px;
    right: -9px;
    width: 12px;
    height: 12px;
}

/*Typography*/
.typo-bx {
    padding-bottom: 1rem;
}

.title {
    padding-bottom: .5rem;
}
.text {
    color: var(--Light-Grey);
}

/*interactive 1-5 rating buttons*/
.rating-btn-bx {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.rating-btn {
    cursor: pointer;
    background-color: var(--Medium-Grey);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all ease-in-out .3s;
    opacity: .2;

    span {
        color: var(--White);
        position: relative;
        top: 4%;
        
    }

}

.rating-btn:hover {
    background-color: var(--Medium-Grey);
    opacity: 1;
}

.rating-btn:focus {
    background-color: var(--Medium-Grey);
    opacity: 1;           
}

.rating-btn[aria-selected = 'true'] {
    background-color: var(--Orange);
}

/*Submit Button*/
.submit-btn {
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--Orange);
    text-align: center;
    padding-block: .5rem;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: var(--heavyWeight);
}

.submit-btn:hover,
.submit-btn:focus {
    color: var(--Orange);
    background-color: var(--White);
}


/***********************
Feedback Thank You Page
***********************/

.thank-you-container {
    display: grid;
    place-items: center;
}

.hide {
    display: none;
}

.thank-you-bx {
    display: grid;
    place-items: center;
    padding-block: 1rem;
    img {
        width: 6rem;
    }
}

.rating-result {
    background-color: var(--Medium-Grey);
    border-radius: 50px;
    padding-block: .7rem;
    padding-inline: 4rem;
    font-weight: var(--heavyWeight);
    opacity: .1;
}

.rating-result-text {
    position: relative;
    top: -19px;
    font-size: 11px;
    color: var(--Orange);
}

.thank-you-text {
    text-align: center;
}